.body {
  display: flex;
  gap: 0.8rem;
  font-size: 1.6rem;
  overflow: scroll;
  color: var(--main-color-950);
  min-height: fit-content;
  direction: rtl;
  transition: max-height 0.4s, max-width 0.4s, width 0.4s, scale 0.4s,
    opacity 0.2s transfrom 0.4s;
  max-height: 0;
  max-width: 0;
  scale: 0;
  opacity: 0;
  transform: translate(-300px, 0);
  position: sticky;
  padding: 0.8rem;
}
.body::-webkit-scrollbar {
  width: 0.4rem;
  display: inside;
  background-color: transparent;
  display: none;
}
.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-color-950);
}
.body.active {
  max-height: calc(100vh - 14rem);
  max-width: 25rem;
  width: 100%;
  scale: 1;
  opacity: 1;
  transform: translate(0, 0);
}
.item {
  cursor: hand;
  text-decoration: none !important;
  display: flex;
  padding: 0.8rem 1.6rem;
  align-items: center;
  position: relative;
  direction: ltr;
  color: var(--main-color-950) !important;
  border-radius: 0.4rem;
  transition: max-width 0.6s, max-height 0.4s, color 0.4s, opacity 0.6s,
    scale 0.6s, background-color 0.4s;
}
.header {
  display: flex;
  position: sticky;
  flex-direction: flex-start;
  direction: ltr;
  width: available;
  top: 0;
  background-color: var(--main-color-200);
  border: 2px var(--main-color-950) solid;
  border-radius: 0.4rem;
  z-index: 1;
}
.header i {
  width: fit-content;
}
.icon {
  transition: 0.4s;
}
.icon.hidden {
  scale: 0;
  width: 0;
  transform: translate(-30px, 0);
}
.item.active {
  background-color: var(--main-color-950);
  color: var(--main-color-50) !important;
}
.inner {
  cursor: hand;
  text-decoration: none !important;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  position: relative;
  direction: ltr;
  transition: max-width 0.4s, max-height 0.4s, opacity 0.2s, transform 0.4s,
    scale 0.4s;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.6rem;
  transform: translate(-180px, 0);
  opacity: 0;
  max-width: 0;
  max-height: 1.4rem;
  scale: 0;
}
.inner.show {
  transform: translate(0, 0);
  scale: 1;
  opacity: 1;
  max-width: 20rem;
}
