.container {
  position: relative;
  width: 0;
  min-width: 40rem;
  height: 26rem;
  transition: 0.4s;
  background-size: 0.6rem 0.6rem;
  border-radius: 0.8rem;
}
.container.light {
  --high-contrast-color: var(--main-color-950);
  --low-contrast-color: var(--main-color-50);
}
.container.dark {
  --high-contrast-color: var(--main-color-50);
  --low-contrast-color: var(--main-color-950);
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  background-size: 800% !important;
  clip-path: circle-pattern();
  filter: blur(1.6rem);
  animation: glowing 60s linear infinite;
}
.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      transparent 8%,
      var(--low-contrast-color) 8%
    )
    0 0 / 1.4rem 1.4rem;
  border-radius: inherit;
}
.content > a:nth-child(n) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.content:hover .panel {
  opacity: 1;
}
.panel {
  padding: 1.6rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  opacity: 0;
  transition: 0.6s;
  backdrop-filter: blur(2px);
}
.panel > h3 {
  width: 100%;
  text-align: center;
  color: var(--high-contrast-color);
}
.dashboard {
  display: flex;
  gap: 1.6rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard > button {
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  width: 50%;
  transition: 0.4s;
  font-size: 1.4rem;
  background-color: var(--high-contrast-color);
  color: var(--low-contrast-color);
  border: 1px solid var(--low-contrast-color);
}
.dashboard > button:hover {
  background-color: var(--low-contrast-color);
  color: var(--high-contrast-color);
  border: 1px solid var(--high-contrast-color);
}
.dashboard > button:nth-child(2) {
  background: var(--low-contrast-color);
  color: var(--high-contrast-color);
  border: 1px solid var(--high-contrast-color);
}
.dashboard > button:nth-child(2):hover {
  background: var(--high-contrast-color);
  color: var(--low-contrast-color);
  border: 1px solid var(--low-contrast-color);
}
.detail_view {
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  color: var(--high-contrast-color);
  font-size: 1.2rem;
  line-height: 2.4rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 8rem;
}
.detail_view::-webkit-scrollbar {
  transition: 0.4s;
  width: 0.4rem;
  display: outside;
  background-color: transparent;
}
.detail_view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--high-contrast-color);
}
