.form_body {
  padding: 3.6rem;
  background-size: 1.6rem 1.6rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 50rem;
}
.form_body.light {
  background-color: var(--main-color-50);
  background-image: radial-gradient(
    var(--main-color-300b) 0.1rem,
    transparent 0
  );
  --high-contrast-color: var(--main-color-950);
  --low-contrast-color: var(--main-color-50);
}
.form_body.dark {
  background-color: var(--main-color-950);
  background-image: radial-gradient(
    var(--main-color-700b) 0.1rem,
    transparent 0
  );
  --high-contrast-color: var(--main-color-50);
  --low-contrast-color: var(--main-color-950);
}
.form_body > button:nth-child(1) {
  border: solid 1px transparent;
  background-color: var(--high-contrast-color);
  color: var(--low-contrast-color);
  cursor: pointer;
}
.form_body > button:nth-child(1):hover {
  background-color: var(--low-contrast-color);
  color: var(--high-contrast-color);
  border: solid 1px var(--high-contrast-color);
}
.creation_form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: 0.4s;
}
.creation_form > div {
  padding: 0;
}
.creation_form > button {
  width: fit-content;
  border: 1px solid transparent;
  color: var(--low-contrast-color);
  background-color: var(--high-contrast-color);
  padding: 0.8rem 1.6rem;
}
.creation_form > button:hover {
  border: 1px solid var(--high-contrast-color);
  background-color: var(--low-contrast-color);
  color: var(--high-contrast-color);
  padding: 0.8rem 1.6rem;
}
.creation_form > span {
  font-size: 1.2rem;
  font-weight: 100;
}
.creation_form > label:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
