.container {
  position: sticky;
  top: 6rem;
  left: 0;
  height: 0;
  z-index: 1;
  height: fit-content; /* ? This allows dynamic scrolling when your content is overtaken, in this case by app footer   */
  max-height: 100vh; /* ? This allows dynamic scrolling when your content is overtaken, in this case by app footer */
}
.access_button {
  position: relative;
  width: 0;
  height: 0;
  z-index: 11;
}
.access_button button {
  display: absolute;
  transform: translate(2rem, 2rem);
  border: none;
  outline: none;
  padding: 1.2rem;
  font-size: 2.4rem;
  border-radius: 0.8rem;
  background-color: var(--moonlit-asteroid-900);
  color: var(--main-color-400);
}
.main {
  position: relative;
  display: flex;
  left: 0;
  width: 0;
}
.wrapper {
  display: flex;
  position: sticky;
}
.sidebar {
  backdrop-filter: blur(6px);
  border: solid transparent 2px;
  max-height: 100vh;
  height: 100vh;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  /* justify-content: flex-start; */
  align-items: center;
  color: black;
  z-index: 10;
  transition: border 0.4s, height 0.4s;
  position: relative;
  min-width: 100vw;
  max-width: 100vw;
  transform: translate(-100vw);
  transition: 0.4s;
  opacity: 0;
}
.sidebar.show {
  transform: translate(0);
  opacity: 1;
}
.dinamic {
  min-width: fit-content;
}
.sidebar:hover {
  /* border: solid var(--main-color-700) 2px; */
}
.sidebar::before {
  content: "";
  border-radius: inherit;
  background-color: #0f202793;
  box-shadow: 2px 2px 4px 2px #00000033;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.body {
  display: flex;
  max-height: calc(
    100vh - 6rem - 4.8rem - 2.8rem
  ); /* ? Calculated based in height of both footer and header of sidebar, body and its corresponding paddings, minus height of both navigation bar and footer */
  width: max-content;
  transition: column-gap 0.4s;
  column-gap: 0;
}
.body.active {
  column-gap: 0.8rem;
}
.header {
  border-radius: 0.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  gap: 0.2rem;
}
.footer {
  border-radius: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
}
.item {
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  direction: ltr;
  min-width: 1rem;
  min-height: 1rem;
  color: var(--main-color-700);
  font-style: normal;
  transition: font-size 0.1s, transform 0.4s, max-width 0.6s, padding-right 0.4s,
    color 0.4s, left 0.6s, opacity 0.6s;
}
.button {
  width: 100%;
  height: 0.6rem;
  background-color: var(--main-color-700);
  border: none;
  border-radius: 0.2rem;
  transition: 0.4s;
}
.item:hover,
.item.active {
  color: var(--main-color-300) !important;
  transition: 0.4s;
}
.button:hover,
.button.active {
  background-color: var(--main-color-300);
}
.rotable {
  transition: 0.4s;
  padding: 1rem;
}
.rotable:hover {
  scale: 1.2;
}
.rotable.active {
  transform: rotate(90deg);
  color: var(--main-color-300) !important;
}

@media screen and (min-width: 900px) {
  .access_button{
    display: none;
  }
  .main {
    position: relative;
    width: fit-content;
  }
  .main.floating {
    width: 0;
  }
  .sidebar {
    border-radius: 0 0.6rem 0.6rem 0;
    min-width: fit-content;
    max-width: fit-content;
    min-height: fit-content;
    max-height: calc(100vh - 6rem);
    height: 100%;
    opacity: 1;
    transform: translate(0);
    position: relative;
  }
}
