.svg {
  width: 100%;
  transition: 0.4s;
  fill: #ffffff;
}
.svg_container {
  display: block;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  fill: var(--main-color-950);
}