.page {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
  font-size: 1.6rem;
}
.content > :nth-child(n) {
  max-width: 80rem;
}
