.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}
.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 4rem;
  touch-action: all;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.page > button {
  position: absolute;
  top: calc(50vh - 4rem);
  z-index: 1;
  border: none;
  font-size: 4rem;
  padding: 1.6rem 1.2rem;
  color: var(--main-color-950);
  background-color: var(--main-color-300b);
  border-radius: 0.8rem;
}
.page > button > i {
  transition: 0.4s;
}
.page > button:nth-child(1) {
  left: 0.8rem;
}
.page > button:nth-child(1):hover > i {
  transform: translate(-0.8rem);
}
.page > button:nth-child(3) {
  right: 0.8rem;
}
.page > button:nth-child(3):hover > i {
  transform: translate(0.8rem);
}
.content::-webkit-scrollbar {
  display: none;
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 8rem;
}
.navboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-200);
  padding: 0.8rem;
  width: 100%;
  gap: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.2rem black;
}
.navboard::-webkit-scrollbar {
  display: none;
}
.navboard > button {
  font-size: 4rem;
  border: none;
  background: none;
  transition: 0.4s;
}
.navboard > button:nth-child(1):hover {
  scale: 1.1;
  transform: translate(-0.4rem);
}
.navboard > button:nth-child(3):hover {
  scale: 1.1;
  transform: translate(0.4rem);
}
.indexes {
  display: flex;
  gap: 0.8rem;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  touch-action: all;
  border-radius: 0.8rem;
}
.indexes::-webkit-scrollbar {
  display: none;
}
.anchor {
  text-wrap: nowrap;
  font-size: 1.2rem;
  cursor: pointer;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transition: 0.2s;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.8rem 1.6rem;
  background-color: var(--main-color-400);
  border-radius: 0.8rem;
}
.anchor > span {
  top: 0;
}

@media screen and (min-width: 900px) {
  .content {
    padding: 2rem;
    width: calc(100% - 4rem);
  }
}
