.list {
  font-size: 1.4rem;
  padding: 0;
  align-items: center;
  text-align: center;
  list-style: none;
  border-radius: 0.5rem;
  height: fit-content;
  position: sticky;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}
.list.column {
  flex-direction: column;
}
.list li {
  min-width: 50rem;
  /* padding: 1.2rem;
  background-color: #0f2027d5;
  border-radius: 1.2rem; */
}
.form {
  width: 100%;
  text-align: center;
  display: inline-flex;
  position: relative;
  margin: 0.6rem 0;
}
.form label {
  font-size: 0;
  width: fit-content;
  color: black;
  position: absolute;
  white-space: nowrap;
  background-color: var(--main-color-400);
  border-radius: 0.5rem;
  left: 2.6rem;
  top: 0.6rem;
  padding: 0 4px;
  transition: 0.4s;
  opacity: 0;
  margin: 0;
  pointer-events: none;
}
.button_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: -2.4rem;
  gap: 0.2rem;
  transition: 0.4s;
  font-size: .8rem;
  font-family: var(--text-font);
  border-radius: 0.8rem;
  width: 100%;
}
.button {
  margin: 0;
  height: fit-content;
  border-radius: 0.4rem;
  border: none;
  width: fit-content;
  transition: 0.2s;
  background-color: transparent;
  color: var(--main-color-200b);
  font-size: 1.6rem;
  width: 100%;
}
.delete_button:hover {
  color: #f03b26;
}
.delete_button:focus {
  outline: none;
}
.add_button:hover {
  color: #21da09;
}
.add_button:focus {
  outline: none;
}
.expand_button {
  width: 100%;
  height: 4rem;
  background-color: transparent;
  border-radius: 2rem;
  border: none;
}
.expand_button:focus {
  outline: none;
}
