.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 3.6rem;
}
.hero {
  padding-top: 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.hero > h1 {
  width: 100%;
  font-size: 4.8rem;
  text-align: center;
  color: var(--main-color-950);
}
.hero > article {
  font-size: 2rem;
  min-width: 30rem;
  max-width: 60rem;
  text-align: center;
  color: var(--main-color-950);
}
.hero > div {
  display: flex;
  gap: 2rem;
}
.hero > span {
  font-size: 1.8rem;
  font-weight: 500;
}
.button {
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.hero > div > button:nth-child(1) {
  background-color: var(--main-color-950);
  color: var(--main-color-50);
}
.hero > div > button:nth-child(1):hover {
  border: 1px solid var(--main-color-950);
  background-color: var(--main-color-50);
  color: var(--main-color-950);
}
.hero > div > button:nth-child(2) {
  border: 1px solid var(--main-color-950);
  background-color: transparent;
  color: var(--main-color-950);
}
.hero > div > button:nth-child(2):hover {
  border: 1px solid transparent;
  background-color: var(--main-color-950);
  color: var(--main-color-50);
}
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}
.about > :nth-child(n) {
  min-width: 30rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
