.dropzone {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.dropzone.light{
  --high-contrast-color: var(--main-color-950);
  --mid-contrast-color: var(--main-color-950b);
  --low-contrast-color: var(--main-color-50);

}.dropzone.dark{
  --high-contrast-color: var(--main-color-50);
  --mid-contrast-color: var(--main-color-100b);
  --low-contrast-color: var(--main-color-950);
  
}
.drag_body {
  min-width:30rem;
  max-width: 60rem;
  height: 42rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  transition: 0.4s;
  border: 2px dashed var(--high-contrast-color);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.deactivated {
  pointer-events: none;
}
.drag_body > label {
  padding: 3.6rem;
  transition: 0.4s;
  font-size: 2rem;
  width: 100%;
  color: var(--mid-contrast-color);
}
.drag_body:hover > label {
  color: var(--high-contrast-color);
}
.drag_body > label > i {
  transition: 0.4s;
  font-size: 4rem;
  color: var(--mid-contrast-color);
}
.drag_body:hover > label > i {
  color: var(--high-contrast-color);
}
.file_preview {
  border-radius: 0.8rem;
  object-fit: cover;
  pointer-events: none;
  z-index: 10;
  transition: 0.6s;
  overflow: hidden;
}
.file_preview::-webkit-scrollbar {
  display: none;
}
.options {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  height: fit-content;
  width: calc(100% - 3.2rem);
}
.options > button:nth-child(n) {
  padding: 0.6rem 1.4rem;
  border: transparent 1px solid;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  z-index: 10;
  pointer-events: all;
  transition: 0.4s;
  width: fit-content;
  max-width: 100%;
}
.options > button:nth-child(1),
.options > button:nth-child(2) {
  background-color: var(--high-contrast-color);
  color: var(--low-contrast-color);
  text-wrap: nowrap;
  cursor: pointer;
}
.options > button:nth-child(1):hover,
.options > button:nth-child(2):hover {
  border: var(--high-contrast-color) solid 1px;
  color: var(--high-contrast-color);
  background-color: var(--low-contrast-color);
}
.options > button:nth-child(3) {
  border: var(--high-contrast-color) solid 1px;
  background-color: var(--low-contrast-color);
  color: var(--high-contrast-color);
}
.options > button:nth-child(3):hover {
  border: var(--low-contrast-color) solid 1px;
  color: var(--low-contrast-color);
  background-color: var(--high-contrast-color);
}
