.dropzone {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.drag_body {
  min-width: 30rem;
  max-width: 80rem;
  height: 40rem;
  border: var(--main-color-950b) 2px dashed;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 2rem;
  transition: 0.4s;
  background-image: radial-gradient(
    var(--main-color-300b) 1px,
    transparent 0
  ); /* * dotted background */
  background-size: 20px 20px; /* * dotted background */
  text-align: center;
  position: relative;
  overflow: hidden;
}
.deactivated {
  pointer-events: none;
}
.drag_body:hover {
  border: var(--main-color-950) 2px dashed;
}
.drag_body:hover > label > i {
  color: var(--main-color-950);
}
.drag_body > label > i {
  transition: 0.4s;
  font-size: 4rem;
  color: var(--main-color-950b);
}
.drag_body > label {
  font-size: 2rem;
}
.file_preview {
  border-radius: 0.8rem;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  transition: 0.6s;
  overflow: hidden;
}
.file_preview::-webkit-scrollbar {
  display: none;
}
.button {
  padding: 0.6rem 1.4rem;
  border: transparent 1px solid;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  z-index: 10;
  pointer-events: all;
  transition: 0.4s;
}
.main_button {
  background-color: var(--main-color-950);
  color: var(--main-color-50);
}
.secondary_button {
  background-color: var(--main-color-50);
  color: var(--main-color-950);
}
.floating_right {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}
.floating_right:hover {
  border: var(--main-color-50) solid 1px;
  color: var(--main-color-50);
  background-color: var(--main-color-950);
}
.floating_center {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
.floating_center:hover {
  border: var(--main-color-950) solid 1px;
  color: var(--main-color-950);
  background-color: var(--main-color-50);
}
