.app {
  width: available;
  min-height: 100vh;
  transition: color 0.4s;
}
.app.light > * {
  color: var(--main-color-950);
  transition: color 0.4s;
}
.app.dark > * {
  color: var(--main-color-50);
  transition: color 0.4s;
}
.app::-webkit-scrollbar {
  display: block;
  background-color: transparent;
}
.app::-webkit-scrollbar-thumb {
  width: 20rem;
  background-color: var(--main-color-950);
}
.app::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}
.app.light::before {
  background-image: radial-gradient(
      var(--main-color-300b) 0.1rem,
      transparent 0
    ),
    radial-gradient(
      circle at 100% 100%,
      transparent,
      var(--main-color-200) 5%,
      var(--main-color-300),
      transparent 30%
    ),
    radial-gradient(
      circle at 0% 0%,
      transparent 20%,
      var(--main-color-200),
      var(--main-color-100),
      var(--main-color-200),
      transparent 21%
    ),
    radial-gradient(
      circle at 0% 20%,
      transparent 30%,
      var(--main-color-200),
      var(--main-color-100),
      var(--main-color-200),
      transparent 31%
    );
}
.app.dark::before {
  background-image: radial-gradient(
      var(--main-color-700b) 0.1rem,
      transparent 0
    ),
    radial-gradient(
      circle at 100% 100%,
      transparent,
      var(--main-color-800) 5%,
      var(--main-color-700),
      transparent 30%
    ),
    radial-gradient(
      circle at 0% 0%,
      transparent 20%,
      var(--main-color-800),
      var(--main-color-900),
      var(--main-color-800),
      transparent 21%
    ),
    radial-gradient(
      circle at 0% 20%,
      transparent 30%,
      var(--main-color-800),
      var(--main-color-900),
      var(--main-color-800),
      transparent 31%
    );
}
.app.light::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    var(--main-color-100b) 0.1rem,
    transparent 0
  );
  background-size: 0.4rem 0.4rem;
  z-index: -100;
  background-color: var(--main-color-50);
}
.app.dark::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    var(--main-color-900b) 0.1rem,
    transparent 0
  );
  background-size: 0.4rem 0.4rem;
  z-index: -100;
  background-color: var(--main-color-950);
}
.header {
  font-size: 1.8rem;
  width: 100%;
  height: fit-content;
  z-index: 3;
  top: 0;
  position: sticky;
}
.content {
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.footer {
  width: 100%;
  height: 8rem;
  background-color: var(--main-color-950);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--main-color-50);
}
.footer > span > a {
  text-decoration: none;
  color: #eab308;
}
