.container {
  position: relative;
}
.dashboard {
  border-radius: 0.6rem;
  border: solid transparent 1px;
  position: absolute;
  padding: 0.8rem;
  backdrop-filter: blur(6px);
  bottom: 0;
  transition: 0.4s;
  background-color: #2b4e7933;
  left: -6rem;
  opacity: 0;
  z-index: -1;
}
.dashboard.show {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.dashboard:hover {
  border: solid var(--main-color-300) 1px;
}
.hide_button {
  font-size: 2rem;
  color: var(--main-color-600);
  -webkit-text-stroke: 0.8px var(--main-color-950);
  transition: 0.2s;
  font-weight: 1000;
}
.hide_button:hover {
  translate: -0.4rem;
}