.page {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 1.8rem;
}

@media screen and (min-width: 900px) {
  .content {
    padding: 2rem;
  }
}
