.page {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.content {
  max-width: 120rem;
}
.elements {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 1.8rem;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3.2rem;
}
.pagination.light {
  --high-contrast-color: var(--main-color-950);
  --low-contrast-color: var(--main-color-50);
}
.pagination.dark {
  --high-contrast-color: var(--main-color-50);
  --low-contrast-color: var(--main-color-950);
}
.pagination button {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  color: var(--low-contrast-color);
  background-color: var(--high-contrast-color);
  border: 1px solid transparent;
}
.pagination button.active,
.pagination button:hover {
  color: var(--high-contrast-color);
  background-color: var(--low-contrast-color);
  border: 1px solid var(--high-contrast-color);
}
.pagination > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

@media screen and (min-width: 900px) {
  .content {
    padding: 2rem;
  }
}
