.visualizer {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transition: 0.8s ease !important;
  opacity: 1;
}
.visualizer.light {
  --high-contrast-color: var(--main-color-950);
  --mid-contrast-color: var(--main-color-200);
  --low-contrast-color: var(--main-color-50);
}
.visualizer.dark {
  --high-contrast-color: var(--main-color-50);
  --mid-contrast-color: var(--main-color-900b);
  --low-contrast-color: var(--main-color-950);
}
.visualizer.hide {
  opacity: 0;
}
.visualizer > h1 {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0.8rem;
  left: 50%;
  transform: translate(-50%);
  padding: 0.8rem 1.6rem;
  color: var(--high-contrast-color);
  background-color: var(--low-contrast-color);
  border-radius: 0.8rem;
  border: 1px solid var(--high-contrast-color);
}
.dark.preview,
.light.preview {
  pointer-events: none;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: none;
}
.visualizer:nth-child(n) {
  transition: 0.4s;
  scale: 1;
}
.quickboard {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  border: 2px solid var(--high-contrast-color);
  background-color: var(--high-contrast-color);
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}
.option {
  position: relative;
}
.option > button {
  border: none;
  outline: none;
  padding: 0.8rem;
  font-size: 1.4rem;
  font-weight: thin;
  transition: 0.4s;
  background-color: transparent;
  border: solid 2px var(--high-contrast-color);
  color: var(--low-contrast-color);
  border-radius: 0.6rem;
  aspect-ratio: 1 / 1;
}
.option > button.hide {
  left: -10rem;
  opacity: 0;
}
.option > button:hover {
  background-color: var(--low-contrast-color);
  color: var(--high-contrast-color);
}
.option > span {
  white-space: nowrap;
  position: absolute;
  font-weight: thin;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  font-size: 1.4rem;
  padding: 0.6rem;
  background-color: var(--high-contrast-color);
  border: solid 2px var(--low-contrast-color);
  color: var(--low-contrast-color);
  border-radius: 0.6rem;
}
.option > button:hover + span {
  opacity: 1;
  transform: translate(4.8rem, -50%);
}
.board {
  width: 100%;
  height: 100%;
}
.toolbar {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid var(--low-contrast-color);
  border-radius: 0.4rem;
}
.hidden {
  scale: 0;
}
svg[data-type="markmap"] {
  --stroke-width: 0.25rem;
}
svg[data-type="markmap"] path {
  stroke-width: var(--stroke-width);
}
svg[data-type="markmap"] line {
  stroke-width: var(--stroke-width);
}
svg[data-type="markmap"] circle {
  stroke-width: var(--stroke-width);
}
svg[data-type="markmap"] a {
  text-decoration: none;
  transition: 0.2s;
}
svg[data-type="markmap"] a:hover {
  color: #2fdfd6;
}
