.visualizer {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transition: 0.8s ease !important;
  opacity: 1;
  background-size: 1rem 1rem;
}
.visualizer.light {
  --high-contrast-color: var(--main-color-950);
  --mid-contrast-color: var(--main-color-200);
  --low-contrast-color: var(--main-color-50);
}
.visualizer.dark {
  --high-contrast-color: var(--main-color-50);
  --mid-contrast-color: var(--main-color-900b);
  --low-contrast-color: var(--main-color-950);
}
.visualizer.hide {
  opacity: 0;
}
.visualizer > h1 {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0.8rem;
  left: 50%;
  transform: translate(-50%);
  padding: 0.8rem 1.6rem;
  color: var(--high-contrast-color);
  background-color: var(--low-contrast-color);
  border-radius: 0.8rem;
  border: 1px solid var(--high-contrast-color);
}
.dark.preview,
.light.preview {
  pointer-events: none;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: none;
}
.visualizer:nth-child(n) {
  transition: 0.4s;
  scale: 1;
}
.button {
  border: none;
  outline: none;
  padding: 1.6rem;
  background-color: transparent;
  font-size: 1.6rem;
  transition: 0.4s;
  color: var(--low-contrast-color);
}
.visualizer > button {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border: solid 2px var(--high-contrast-color);
  color: var(--high-contrast-color);
  border-radius: 0.8rem;
}
.visualizer > button.hide {
  left: -10rem;
  opacity: 0;
}
.visualizer > button:hover {
  background-color: var(--low-contrast-color);
  color: var(--high-contrast-color);
}
.board {
  width: 100%;
  height: 100%;
}
.toolbar {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid var(--low-contrast-color);
  border-radius: 0.4rem;
}
.hidden {
  scale: 0;
}
