.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: 0.6rem 0.6rem;
}
.light {
  --low-contrast-color: var(--main-color-50);
}
.dark {
  --low-contrast-color: var(--main-color-950);
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -10;
  background-size: 800% !important;
  animation: glowing 60s linear infinite;
}
.background.tiny {
  filter: blur(1.6rem);
}
.pattern {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    transparent 5%,
    var(--low-contrast-color) 8%
  )
  0 0 / 1.4rem 1.4rem;
  border-radius: inherit;
  z-index: -1;
}
.pattern.tiny {
  background: radial-gradient(
      circle,
      transparent 8%,
      var(--low-contrast-color) 8%
    )
    0 0 / 1.1rem 1.1rem;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
