:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  */
  --main-color-50: #f5f6f6;
  --main-color-100: #e5e8e8;
  --main-color-100b: #e5e8e893;
  --main-color-200: #ced2d3;
  --main-color-200b: #ced2d393;
  --main-color-300: #acb3b4;
  --main-color-300b: #acb3b493;
  --main-color-400: #838c8d;
  --main-color-400b: #838c8d93;
  --main-color-500: #838c8d;
  --main-color-500b: #838c8d93;
  --main-color-600: #596061;
  --main-color-600b: #59606193;
  --main-color-700: #4c5152;
  --main-color-700b: #4c515293;
  --main-color-800: #434647;
  --main-color-800b: #43464793;
  --main-color-900: #3a3d3f;
  --main-color-900b: #3a3d3f93;
  --main-color-950: #232526;
  --main-color-950b: #23252693;
  /*  */
  color: var(--main-color-950);
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  background-image: radial-gradient(
      var(--main-color-300b) 0.1rem,
      transparent 0
    ),
    radial-gradient(
      circle at 100% 100%,
      transparent,
      var(--main-color-200) 5%,
      var(--main-color-300),
      transparent 30%
    ),
    radial-gradient(
      circle at 0% 0%,
      transparent 20%,
      var(--main-color-200),
      var(--main-color-100),
      var(--main-color-200),
      transparent 21%
    ),
    radial-gradient(
      circle at 0% 20%,
      transparent 30%,
      var(--main-color-200),
      var(--main-color-100),
      var(--main-color-200),
      transparent 31%
    );
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    var(--main-color-100b) 0.1rem,
    transparent 0
  );
  background-size: 0.4rem 0.4rem;
  z-index: -100;
  background-color: var(--main-color-50);
}
