.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: available;
  /* max-width: 600px; */
  padding: 2rem;
  /* margin: 2rem; */
  font-weight: bold;
  /* border: 1px solid black; */
  font-family: var(--main-font);
}
.content h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: var(--title-font);
}
.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
.button {
  padding: 0.6rem 2.4rem;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--main-color-500);
  align-self: center;
  width: fit-content;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  font-family: var(--text-font);
  margin: 1.8rem 0;
  border: solid 2px transparent;
  transition: 0.4s;
}
.button:hover {
  border: solid 2px var(--main-color-400);
}
.message {
  font-size: 1.4rem;
  color: black;
  text-align: left;
  background-color: var(--main-color-400);
  padding: 0 2rem;
}
@media screen and (max-width: 800px) {
  .content {
    padding: 0;
  }
}
