.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.common_input {
  height: 2.8rem;
  border-radius: 0.6rem;
  border: none;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  max-width: 30rem;
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  margin: 0 !important;
  font-family: var(--main-font);
  transition: 0.4s;
  background-color: var(--main-color-500b);
  color: black;
}
.common_input::placeholder {
  transition: 0.2s;
  color: black;
}
.common_input:focus,
.common_input:hover,
.common_input:active {
  border: 2px solid var(--main-color-400);
}
.common_input:focus::placeholder,
.common_input:hover::placeholder,
.common_input:active::placeholder {
  color: transparent;
  top: -0.7rem;
}
.label {
  position: absolute;
  transition: 0.4s;
  font-weight: 600;
  color: black;
  font-size: 1.4rem;
  opacity: 0;
  top: 0.7rem;
  left: 1.2rem;
  white-space: nowrap;
  background-color: var(--main-color-400);
  border-radius: 0.4rem;
  padding: 0 0.4rem;
}
.common_input:focus + .label,
.common_input:hover + .label {
  top: -0.7rem;
  opacity: 1;
  font-size: 1rem;
  left: 2rem;
}
